[defaults]
host_key_checking = False
timeout = 60
vault_password_file = ~/.vault_pass

[paramiko_connection]
host_key_auto_add = True

[persistent_connection]
command_timeout = 60
connect_timeout = 60
